<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.mapper.AdminMapper">

   <resultMap type="Admin" id="AdminMap">
     <id column="admin_id" property="adminId"/>
     <result column="username" property="username"/>
     <result column="password" property="password"/>
   </resultMap> 


    <select id="findByAdminId" resultMap="AdminMap">
        select * from admin  where admin_id=#{adminId}
    </select>
    <update id="resetPassword">
        update admin set password = #{password}
        where admin_id=#{adminId}
    </update>
</mapper>